{% extends 'base.html' %}

{% block main %}

<h2> Contact Form </h2>
<div>
    <span> Fill in this form to contact the site owners. </span>
</div>

<br>
<form method="POST" action="{{ url_for('contact') }}">
     {{ form.csrf_token }}
    <div class="my_form">
        {{ form.name.label }}
        <br>
        {{ form.name(class="my_form") }}
    </div>
    <div class="my_form">
        {{ form.email.label }}
        <br>
        {{ form.email(class="my_form") }}
    </div>
    <div class="my_form">
        {{ form.subject.label }}
        <br>
        {{ form.subject(class="my_form") }}
    </div>
    <div class="my_form">
        {{ form.Text_Area.label }}
        <br>
        {{ form.subject(class="my_form") }}
    </div>
    <br>
    <button type="submit" class="submitIT"> Submit </button>
</form>

{% endblock %}